python 
transformers 
bitsandbytes 
optimum 
accelerate 
termcolor 
auto-gptq 
diffusers 
einops 
colored 
slowapi 
fastapi 
loguru 
pydantic 
uvicorn 
fastapi-pagination 
torchvision 
opencv-python 
ctransformers 

mkdocs
mkdocs-material
mkdocs-glightbox
